@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
  background-color: fuchsia;
}

.app-js-div {
  background: #F2EEEA;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 8vh 92vh;
}

.test {
  background: rgba(97, 39, 17, 0.548);
  /* grid-row: auto */
  filter: grayscale(80%);
  color: rgba(197, 142, 38, 0.5);
  color: #313131;
}

a {
  color: inherit;
}